
{% extends "base.html" %}

{% block content %}
    <div class="page-header">
        <h1>Edit Store  <small>{{ store.name }}</small></h1>
    </div>
    {% if error_message %}
        <div class="list-group">
            <p class="list-group-item list-group-item-warning"><strong>{{ error_message }}</strong></p>
        </div>
    {% endif %}
    <div class="form-size">
        <form id="edit-store-form"  method="POST">
            <div class="form-group">
                <label for="name">Store Name</label>
                <input class="form-control" type="text" id="name" name="name" value="{{ store.name }}">
            </div>
            <div class="form-group">
                <label for="url_prefix">Store URL Prefix</label>
                <input class="form-control" type="text" id="url_prefix" name="url_prefix" value="{{ store.url_prefix }}"
                       aria-describedby="storeURLPrefixHelp">
                <span id="storeURLPrefixHelp" class="help-block">
                    What characters do URLs of all items in this online store start with? E.g: https://www.mystore.com
                </span>
            </div>
            <div class="form-group">
                <label for="tag_name">Tag Name</label>
                <input class="form-control" type="text" id="tag_name" name="tag_name" value="{{ store.tag_name }}"
                       aria-describedby="storeTagNameHelp">
                <span id="storeTagNameHelp" class="help-block">
                    What is the HTML tag of the item that contains the item price? (usually <code>span</code>)
                </span>
            </div>
            <div class="form-group">
                <label for="query">Search Query</label>
                <input class="form-control" type="text" id="query" name="query" value='{{ store.query | tojson}}'
                       aria-describedby="queryHelpBlock">
                <span id="queryHelpBlock" class="help-block">
                    What JSON query would we have to do to find the specific tage with the price?<br/>
                    Remember to use double quotation marks for JSON queries.
                </span>
            </div>
            <button class="btn btn-warning" type="submit" id="submit-button">Update</button>
        </form>
    </div>

{% endblock %}